GITHUB_TOKEN=your_github_token_here
DATABASE_URL=url_here

POSTGRES_DB=db_name
POSTGRES_USER=db_user_name
POSTGRES_PASSWORD=db_password

BACKEND_HOST=127.0.0.1
BACKEND_PORT=****
NUXT_PUBLIC_API_BASE=http://127.0.0.1:****